# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
venv/
env/
ENV/
.venv/
pip-wheel-metadata/
*.egg-info/
.eggs/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/


# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# OS / System files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# Git
# =========================
*.orig
*.swp
*.swo

# =========================
# Node (if frontend exists)
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# Build / Cache
# =========================
dist/
build/
.cache/
coverage/
htmlcov/

# =========================
# Celery / Redis
# =========================
celerybeat-schedule
celerybeat.pid

# =========================
# Nginx / Gunicorn
# =========================
gunicorn.sock
gunicorn.pid
nginx.conf